body {
	font-family: sans-serif;
}
p {
	text-align: center;
}

/*main div*/
.home-page {
	width: 320px;
	border: 1px solid black;
}
.bird-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.about-paragraph {
	text-align: center;
}
h4 {
	text-align: center;
}
.sign-up-info {
	text-align: center;
}