@media screen and (max-width: 320px) {
body {
	font-family: sans-serif;
}
p {
	text-align: center;
}

/*main div*/
.home-page {
border: 1px solid black;
}
.bird-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.about-paragraph {
	text-align: center;
}
h4 {
	text-align: center;
}
.sign-up-info {
	text-align: center;
}

	
}
 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	body {
	font-family: sans-serif;
}
p {
	text-align: center;
}

/*main div*/
.home-page {

}
.bird-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.about-paragraph {
	text-align: center;
}
h4 {
	text-align: center;
}
.sign-up-info {
	text-align: center;
}

	
}